html {
    margin: 0px;
}

body {
    background-color: #67ab9f;
    margin: 0px;
    font-family: Tahoma;
}

/* #accessibilityicon {
  justify-self: flex-start;
  align-self: center;
} */

.topnav > a {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;     
}

.topnav {
    text-align: center;
    text-justify: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 11px;
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    padding-top: 2%;
    height: 100%;
}

/* This is accessibility button for if i add one .topnav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    height: 40px;
}
          
li {
    float: left;
    height: 100%;
    border-right: 1px solid #bbb;
    width: 12vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
          
li a {
    display: block;
    color: black;
    text-align: center;
    /* padding: 14px 21px; */
    text-decoration: none;
    /* width: 9vw;
    height: 25px; */
    /* font-size: 1vw; */
}
          
li a:hover:not(.active) {
    background-color: #ffffff;
}
          
.active {
    background-color: #e6e6e6;
}
          
li:last-child {
    border-right: none;
}

.initials {
    font-family: 'Courier New';
    font-size: xxx-large;
    margin-left: 2%;
    margin-top: 3%;
}

/*This one to move the main search bar*/
.search {
    width: 20%;
    margin-top: 30px;
    padding-left: 70%;
}

.search > form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
        
.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 1px;
    font-family: Tahoma;
}
        
.search button {
    background-color: #ffffff;
    color: #67ab9f;
    border: none;
    cursor: pointer; 
    border-radius: 4px;
    padding: 10px 10px;
    max-width: 20%;
    box-sizing: border-box;
}
        
.search button i {
    font-size: 18px;
}
        
.search button:hover {
    background: #000000;
    color: #000000;
}
        
.search input[type="text"] {
    margin-right: 10px;
    width: 90%;
    height: 40px;
    box-sizing: border-box;
}
        
.search button i {
    font-size: 14px;
}  

.flex-container {
    background-color: #e6e6e6;
    margin: 10px;
    padding: 20px;
    height: auto;
}

/* Home */

.homeparent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .homediv1 { grid-area: 1 / 1 / 4 / 2; }
    .homediv2 { grid-area: 1 / 2 / 5 / 3; }
    .homediv3 { grid-area: 4 / 1 / 5 / 2; }
    .homediv4 { grid-area: 5 / 1 / 6 / 2; }
    .homediv5 { grid-area: 5 / 2 / 6 / 3; }


/* .homeparent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .homediv1 { grid-area: 1 / 1 / 3 / 2; }
    .homediv2 { grid-area: 1 / 2 / 4 / 3; }
    .homediv3 { grid-area: 3 / 1 / 4 / 2; }
    .homediv4 { grid-area: 4 / 1 / 5 / 2; }
    .homediv5 { grid-area: 4 / 2 / 5 / 3; } */


.homepara {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.homeimageme > img {
    max-height: 70%;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    display:flex;
    border: 2px solid black;
    margin: auto;

}

.homediv3 {
    position: relative;
    width: 100%;
  }
  
.homediv3 .viewcvbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #67ab9f;
    color: #000000;
    font-size: 16px;
    width: 30%;
    height: 40%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .homediv3 .viewcvbtn:hover {
    background-color: #ffffff;
  }

  .homediv4 {
    position: relative;
    width: 100%;
  }
  
.homediv4 .downloadcvbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #67ab9f;
    color: #000000;
    font-size: 16px;
    width: 30%;
    height: 40%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .homediv4 .downloadcvbtn:hover {
    background-color: #ffffff;
  }

  .homediv5 {
    position: relative;
    width: 100%;
  }
  
.homediv5 .contactdetailsbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #67ab9f;
    color: #000000;
    font-size: 16px;
    width: 30%;
    height: 40%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .homediv5 .contactdetailsbtn:hover {
    background-color: #ffffff;
  } 

/* Unit 01 */

.unit01para {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.unit01parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 2 / 3 / 3 / 4; }
    .div8 { grid-area: 2 / 4 / 3 / 5; }
    .div9 { grid-area: 3 / 1 / 4 / 2; }
    .div10 { grid-area: 3 / 2 / 4 / 3; }
    .div11 { grid-area: 3 / 3 / 4 / 4; }
    .div12 { grid-area: 3 / 4 / 4 / 5; }
    .div13 { grid-area: 4 / 1 / 5 / 2; }
    .div14 { grid-area: 4 / 2 / 5 / 3; }
    .div15 { grid-area: 4 / 3 / 5 / 4; }
    .div16 { grid-area: 4 / 4 / 5 / 5; }


/* .unit01parent > div {
        box-sizing: border-box;
        border: 2px solid black;
}    */

.unit01image > img {
    height: 100%;
    width: 100%;
}

.unit01paratext {
    text-align: center;
}

/* Unit13 */

.unit13para {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.unit13parent {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 0.25fr repeat(0.25, 1fr) 0.25fr repeat(1, 0.25fr) 0.25fr repeat(1, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
    }
    .unit13div1 { grid-area: 1 / 1 / 2 / 2; }
    .unit13div2 { grid-area: 2 / 1 / 3 / 2; }
    .unit13div3 { grid-area: 2 / 2 / 3 / 3; }
    .unit13div4 { grid-area: 2 / 3 / 3 / 4; }
    .unit13div5 { grid-area: 2 / 4 / 3 / 5; }
    .unit13div6 { grid-area: 3 / 1 / 4 / 5; }
    .unit13div7 { grid-area: 4 / 1 / 5 / 2; }
    .unit13div8 { grid-area: 5 / 1 / 6 / 2; }
    .unit13div9 { grid-area: 5 / 2 / 6 / 3; }
    .unit13div10 { grid-area: 5 / 3 / 6 / 4; }
    .unit13div11 { grid-area: 5 / 4 / 6 / 5; }
    .unit13div12 { grid-area: 6 / 1 / 7 / 5; }
    .unit13div13 { grid-area: 7 / 1 / 8 / 2; }
    .unit13div14 { grid-area: 8 / 1 / 9 / 2; }
    .unit13div15 { grid-area: 8 / 2 / 9 / 3; }
    .unit13div16 { grid-area: 8 / 3 / 9 / 4; }
    .unit13div17 { grid-area: 8 / 4 / 9 / 5; }
    .unit13div18 { grid-area: 9 / 1 / 10 / 5; }

.unit13div1, .unit13div7, .unit13div13 {
    border: 2px solid #000000;
}

.unit13image > img {
    height: 100%;
    width: 100%;
}    

.unit13text {
   text-align: center;
   padding-top: 3%;
}

.unit13heading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
}

/* Hobbies */ 

.hobbiespara {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.snowboardingparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .snowboardingdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .snowboardingdiv2 { grid-area: 2 / 1 / 3 / 3; }
    .snowboardingdiv3 { grid-area: 2 / 3 / 3 / 4; }

.snowboardingdiv1{
    border: 2px solid #000000;
}

.snowboardingimage > img {
    max-height: 100%;
    max-width: 100%;
}    

.snowboardingtext {
    text-align: center;
    padding-top: 5%;

}

.snowboardingheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
}

.travellingparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    
    .travellingdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .travellingdiv2 { grid-area: 2 / 1 / 3 / 2; }
    .travellingdiv3 { grid-area: 2 / 2 / 3 / 3; }
    .travellingdiv4 { grid-area: 2 / 3 / 3 / 4; }
    .travellingdiv5 { grid-area: 1 / 4 / 3 / 5; }
    .travellingdiv6 { grid-area: 3 / 1 / 4 / 5; }

   .travellingdiv1 {
    border: 2px solid #000000;
   }

.travellingimage > img {
    max-height: 100%;
    max-width: 100%;
}    

 .travellingdiv2, .travellingdiv3, .travellingdiv4 {
    height: fit-content;
    width: fit-content;
}

.travellingtext {
    text-align: center;
}

.travellingheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
}

.spanishparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    
    .spanishdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .spanishdiv2 { grid-area: 2 / 1 / 3 / 2; }
    .spanishdiv3 { grid-area: 2 / 2 / 3 / 5; }

.spanishdiv1 {
    border: 2px solid #000000;
}

.spanishimage > img {
    max-height: 100%;
    max-width: 100%;
}    

.spanishtext {
    text-align: center;
    padding-top: 13%;
}

.spanishheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
}

.fishingparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    
    .fishingdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .fishingdiv2 { grid-area: 2 / 1 / 3 / 4; }
    .fishingdiv3 { grid-area: 2 / 4 / 3 / 5; }

.fishingdiv1 {
    border: 2px solid #000000;
}

.fishingimage > img {
    max-height: 100%;
    max-width: 100%;
}    

.fishingtext {
text-align: center;
padding-top: 7%;
}

.fishingheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
}

.gardeningparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr repeat(2, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    
    .gardeningdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .gardeningdiv2 { grid-area: 2 / 1 / 3 / 2; }
    .gardeningdiv3 { grid-area: 2 / 2 / 3 / 3; }
    .gardeningdiv4 { grid-area: 2 / 3 / 3 / 4; }
    .gardeningdiv5 { grid-area: 2 / 4 / 3 / 5; }
    .gardeningdiv6 { grid-area: 3 / 1 / 4 / 5; }

.gardeningdiv1 {
    border: 2px solid #000000;
} 

.gardeningimage > img {
    max-height: 100%;
    max-width: 100%;
}    

.gardeningtext {
    text-align: center;
    padding-top: 5%;
}

.gardeningheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
}

.airfixparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    
.airfixdiv1 { grid-area: 1 / 1 / 2 / 2; }
.airfixdiv2 { grid-area: 2 / 1 / 3 / 2; }
.airfixdiv3 { grid-area: 2 / 2 / 3 / 5; }


.airfixdiv1 {
    border: 2px solid #000000;
}  

.airfiximage > img {
max-height: 100%;
max-width: 100%;
}    

.airfixtext {
text-align: center;
padding-top: 8%;
}

.airfixheading {
/* margin: 10px; */
text-align: center;
background-color: #67ab9f;
}

.bakingparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr repeat(1.5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    .bakingdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .bakingdiv2 { grid-area: 2 / 1 / 3 / 2; }
    .bakingdiv3 { grid-area: 2 / 2 / 3 / 3; }
    .bakingdiv4 { grid-area: 2 / 3 / 3 / 4; }
    .bakingdiv5 { grid-area: 3 / 1 / 4 / 4; }

.bakingdiv1 {
    border: 2px solid #000000;
}
        
        .bakingimage > img {
        max-height: 80%;
        max-width: 80%;
        display: flex;
        margin: auto;
        }    
        
        .bakingtext {
        text-align: center;
        }
        
        .bakingheading {
        /* margin: 10px; */
        text-align: center;
        background-color: #67ab9f;
        }
    
/* Family */
    
.familyh1 {
    text-align: center;
    font-family: tahoma;
}

.familyfirstparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .familyfirstdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .familyfirstdiv2 { grid-area: 2 / 4 / 3 / 5; }
    .familyfirstdiv3 { grid-area: 1 / 3 / 2 / 4; }
    .familyfirstdiv4 { grid-area: 1 / 5 / 2 / 6; }
    .familyfirstdiv5 { grid-area: 2 / 1 / 3 / 4; }

.familyfirstdiv1{
     border: 2px solid #000000;
}

.familyfirstimage > img {
    max-height: 100%;
    max-width: 100%;
    }    
    
.familyfirsttext {
    text-align: center;
    padding-top: 7%;
    }
    
.familyfirstheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
    }

    .harveyparent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.25fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-top: 3%;
        }

        .harveydiv1 { grid-area: 1 / 1 / 2 / 2; }
        .harveydiv2 { grid-area: 2 / 1 / 3 / 2; }
        .harveydiv3 { grid-area: 2 / 2 / 3 / 4; }
        .harveydiv4 { grid-area: 2 / 4 / 3 / 5; }

.harveydiv1 {
    border: 2px solid #000000;
}

.harveyimage > img {
max-height: 100%;
max-width: 100%;
}    

.harveydiv4 {
    height:fit-content;
}

.harveytext {
text-align: center;
padding-top: 20%;
}

.harveyheading {
/* margin: 10px; */
text-align: center;
background-color: #67ab9f;
}

.dogsparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr 0.25fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3%;
    }
    
    .dogsdiv1 { grid-area: 1 / 1 / 2 / 6; }
    .dogsdiv2 { grid-area: 2 / 2 / 3 / 3; }
    .dogsdiv3 { grid-area: 2 / 4 / 3 / 5; }
    .dogsdiv4 { grid-area: 3 / 2 / 4 / 3; }
    .dogsdiv5 { grid-area: 3 / 4 / 4 / 5; }

    .dogsdiv1 {
        border: 2px solid #000000;
    }
    
    .dogsimage > img {
    max-height: 100%;
    max-width: 100%;
    }    

    
    .dogsheading {
    /* margin: 10px; */
    text-align: center;
    background-color: #67ab9f;
    border: 2px solid #000000;
    }

    .gottisparent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.25fr repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-top: 3%;
        }
        
.gottisdiv1 { grid-area: 1 / 1 / 2 / 6; }
.gottisdiv2 { grid-area: 2 / 1 / 3 / 6; }
.gottisdiv3 { grid-area: 3 / 1 / 4 / 2; }
.gottisdiv4 { grid-area: 3 / 3 / 4 / 4; }
.gottisdiv5 { grid-area: 3 / 5 / 4 / 6; }
.gottisdiv6 { grid-area: 4 / 1 / 5 / 2; }
.gottisdiv7 { grid-area: 4 / 3 / 5 / 4; }
.gottisdiv8 { grid-area: 4 / 5 / 5 / 6; }

.gottisdiv1{
border: 2px solid #000000;
}

.gottisimage > img {
max-height: 100%;
max-width: 100%;
}    

.gottistext {
text-align: center;
padding-top: 6%;
}

.gottisheading {
/* margin: 10px; */
text-align: center;
background-color: #67ab9f;
}

.familyfirsttext {
    text-align: center;
}

/* Businesses */

.wpsparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .wpsdiv1 { grid-area: 1 / 1 / 2 / 4; }
    .wpsdiv2 { grid-area: 2 / 1 / 3 / 3; }
    .wpsdiv3 { grid-area: 2 / 3 / 3 / 4; }
    .wpsdiv4 { grid-area: 3 / 1 / 4 / 2; }
    .wpsdiv5 { grid-area: 3 / 2 / 4 / 3; }
    .wpsdiv6 { grid-area: 3 / 3 / 4 / 4; }
    .wpsdiv7 { grid-area: 4 / 1 / 5 / 2; }
    .wpsdiv8 { grid-area: 4 / 2 / 5 / 3; }
    .wpsdiv9 { grid-area: 4 / 3 / 5 / 4; }

    .wpsdiv1 {
        border: 2px solid #000000;
    }
    
    .wpsimage > img {
    height: 100%;
    width: 100%;
    }    


.wpsdiv7, .wpsdiv8, .wpsdiv9 {
    height: 60%;
}
    
    .wpstext {
    text-align: center;
    padding-top: 20%;
    }
    
    .wpsheading {
    text-align: center;
    background-color: #67ab9f;
    }

    .jcaparent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.25fr repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* margin-top: 3%; */
        }
        
        .jcadiv1 { grid-area: 1 / 1 / 2 / 6; }
        .jcadiv2 { grid-area: 2 / 1 / 3 / 2; }
        .jcadiv3 { grid-area: 2 / 2 / 3 / 6; }
        .jcadiv4 { grid-area: 3 / 1 / 4 / 2; }
        .jcadiv5 { grid-area: 3 / 2 / 4 / 3; }
        .jcadiv6 { grid-area: 3 / 3 / 4 / 4; }
        .jcadiv7 { grid-area: 3 / 4 / 4 / 5; }
        .jcadiv8 { grid-area: 3 / 5 / 4 / 6; }

.jcadiv1 {
    box-sizing: border-box;
    border: 2px solid #000000;
}
       
.jcadiv2 {
    height: 80%;
}

.jcaimage > img {
        height: 100%;
        width: 100%;
        }    


.jcatext {
        text-align: center;
        padding-top: 12%;
        /* Remove this border box above when finished */
        }
        
.jcaheading {
        /* margin: 10px; */
        text-align: center;
        background-color: #67ab9f;
        }

        .bb1parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 0.25fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            margin-top: 3%;
            }
            .bb1div1 { grid-area: 1 / 1 / 2 / 6; }
            .bb1div2 { grid-area: 2 / 1 / 3 / 5; }
            .bb1div3 { grid-area: 2 / 5 / 3 / 6; }

            .bb2parent {
                display: grid;
                grid-template-columns: repeat(3, 1.5fr);
                grid-template-rows: 0.5fr;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                margin-top: 1%;
                }
                .bb2div1 { grid-area: 1 / 1 / 2 / 2; }
                .bb2div2 { grid-area: 1 / 2 / 2 / 3; }
                .bb2div3 { grid-area: 1 / 3 / 2 / 4; }

                .bb3parent {
                    display: grid;
                    grid-template-columns: repeat(3, 1.5fr);
                    grid-template-rows: 1fr;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    margin-top: 1%;
                    padding-bottom: 30px;
                }

                .bb3div1 {
                    grid-area: 1 / 1 / 2 / 2;
                    height: 100%;
                    width: 100%;
                }
                .bb3div2 {
                    grid-area: 1 / 2 / 2 / 3;
                    height: 100%;
                    width: 100%;
                }
                .bb3div3 {
                    grid-area: 1 / 3 / 2 / 4;
                    height: 100%;
                    width: 100%;
                }

.bb1div1 {
    border: 2px solid #000000;
}
    
    .bb3parent > div {
        height: 80%;
        width: 80%;
        margin: auto;
    }
           
    .bbimage {
        height: 100%;
        width: 100%;
    }
    /* .bbimage > img {
        height: 100%;
        width: 90%;
    }    */

    .bbimage > img {
        height: auto;
        width: 90%;
    }   
    
    .bbtext {
            text-align: center;
            padding-top: 9%;
            }
            
    .bbheading {
            /* margin: 10px; */
            text-align: center;
            background-color: #67ab9f;
    }

    .thecrownparent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.25fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .thecrowndiv1 { grid-area: 1 / 1 / 2 / 6; }
        .thecrowndiv2 { grid-area: 2 / 1 / 3 / 6; }

        .thecrownparent > div {
            box-sizing: border-box;
            border: 2px solid black;
                    /* Remove this border box above when finished */
        }

    .thecrowndiv2 {
        background-color: #ffffff;
    }

        .workheading {
            /* margin: 10px; */
            text-align: center;
            background-color: #67ab9f;
    }
    
    .worktextbox {
        text-align: center;
        /* background-color: #ffffff; */
    }

    .gmacparent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.25fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 3%;
        }
        .gmacdiv1 { grid-area: 1 / 1 / 2 / 6; }
        .gmacdiv2 { grid-area: 2 / 1 / 3 / 6; }

        .gmacparent > div {
            box-sizing: border-box;
            border: 2px solid black;
                    /* Remove this border box above when finished */
        }

.gmacdiv2 {
    background-color: #ffffff;
}

/* Skills */

    .skillsparent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .skillsdiv1 { grid-area: 1 / 1 / 2 / 2; }
        .skillsdiv2 { grid-area: 1 / 3 / 2 / 4; }
        .skillsdiv3 { grid-area: 1 / 5 / 2 / 6; }
        .skillsdiv4 { grid-area: 3 / 1 / 4 / 2; }
        .skillsdiv5 { grid-area: 3 / 3 / 4 / 4; }
        .skillsdiv6 { grid-area: 3 / 5 / 4 / 6; }
        .skillsdiv7 { grid-area: 5 / 1 / 6 / 2; }
        .skillsdiv8 { grid-area: 5 / 3 / 6 / 4; }
        .skillsdiv9 { grid-area: 5 / 5 / 6 / 6; }

        .skillsparent > div {
            box-sizing: border-box;
            border: 2px solid black;
                    /* Remove this border box above when finished */
        }

.skills {
    text-align: center;
}

.skillsdiv1, .skillsdiv2, .skillsdiv3, .skillsdiv4, .skillsdiv6, .skillsdiv7, .skillsdiv8, .skillsdiv9 {
    background-color: #67ab9f;
}

/* Education */

.cwaparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .cwadiv1 { grid-area: 1 / 1 / 2 / 6; }
    .cwadiv2 { grid-area: 2 / 1 / 3 / 6; }

    .cwaparent > div {
        box-sizing: border-box;
        border: 2px solid black;
                /* Remove this border box above when finished */
    }

    .cwadiv2 {
        background-color: #ffffff;
    }

    .educationheading {
        /* margin: 10px; */
        text-align: center;
        background-color: #67ab9f;
}

.educationtextbox {
    text-align: center;
    /* background-color: #ffffff; */
}

.tchcparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 3%;
    }
    .tchcdiv1 { grid-area: 1 / 1 / 2 / 6; }
    .tchcdiv2 { grid-area: 2 / 1 / 3 / 6; }

    .tchcparent > div {
        box-sizing: border-box;
        border: 2px solid black;
                /* Remove this border box above when finished */
    }

.tchcdiv2 {
    background-color: #ffffff;
}

.crcparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 3%;
    }

    .crcdiv1 { grid-area: 1 / 1 / 2 / 6; }
    .crcdiv2 { grid-area: 2 / 1 / 3 / 6; }

    .crcparent > div {
        box-sizing: border-box;
        border: 2px solid black;
                /* Remove this border box above when finished */
    }

.crcdiv2 {
    background-color: #ffffff;
}

.ecparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 3%;
    }
    .ecdiv1 { grid-area: 1 / 1 / 2 / 6; }
    .ecdiv2 { grid-area: 2 / 1 / 3 / 6; }

    .ecparent > div {
        box-sizing: border-box;
        border: 2px solid black;
                /* Remove this border box above when finished */
    }

.ecdiv2 {
    background-color: #ffffff;
}

.volunteerparent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 3%;
    }
    .volunteerdiv1 { grid-area: 1 / 1 / 2 / 6; }
    .volunteerdiv2 { grid-area: 2 / 1 / 3 / 6; }

    .volunteerparent > div {
        box-sizing: border-box;
        border: 2px solid black;
                /* Remove this border box above when finished */
    }

.volunteerdiv2 {
    background-color: #ffffff;
}

/* Contact Me */

.contactme {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact-form {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, 19px) 1fr 38px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
    .from-label { grid-area: 1 / 1 / 2 / 2; }
    .subject-label { grid-area: 2 / 1 / 3 / 2; }
    .cc-label { grid-area: 3 / 1 / 4 / 2; }
    .bcc-label { grid-area: 4 / 1 / 5 / 2; }
    .from-input { grid-area: 1 / 2 / 2 / 3; }
    .subject-input { grid-area: 2 / 2 / 3 / 3; }
    .cc-input { grid-area: 3 / 2 / 4 / 3; }
    .bcc-input { grid-area: 4 / 2 / 5 / 3; }
    .message { grid-area: 5 / 1 / 6 / 3; }
    .Sendemail { grid-area: 6 / 1 / 7 / 3; }

/* View CV */

.viewcvparent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    }
    .viewcvdiv1 { grid-area: 1 / 1 / 2 / 2; }
    .viewcvdiv2 { grid-area: 2 / 1 / 3 / 2; }

.viewcvimage > img {
    height: 100%;
    width: 50%;
    display: flex;
    margin: auto;
}